h1 {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding-bottom: 100px;
}

body {
  padding-left: 300px;
  padding-right: 300px;
}

button {
  margin-right: 10px;
}

body {
  background-color: rgb(200, 225, 234) !important;
}